<app-header></app-header>
<main>
    <router-outlet></router-outlet>
    <p>
        MultiTweets is an application that will split your looooooonnnnnnnnnnngggggggggggg tweet into multiple numbered tweets for
        you and post it from your twitter account!
    </p>
    <p>
        Just type in what you want and stop worrying about the 140 character limit imposed by Twitter. Its all pretty simple.
    </p>
</main>
<app-footer></app-footer>
